
.firmware th {
  width: 12.5%;
  min-width: 0 !important;
}

.firmware td {
  text-align: center !important;
}

.fw-yes {
  padding: 0.3rem;
  background-color: #8F8;
}

.fw-part {
  padding: 0.3rem;
  background-color: #FF8;
}

.fw-no {
  padding: 0.3rem;
  background-color: #F88;
}
